<ion-header>
  <ion-toolbar color="success">
    <ion-title>Registration</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="success">
<div>
  <ion-card>
    <ion-card-header>
      <ion-card-title > What do you want to do with the recycable waste ?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
    <ion-list>
      <ion-radio-group value="biff">
       
        <ion-item>
          <ion-label>I want to BUY it</ion-label>
          <ion-radio slot="start" value="buy"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>I want to SELL it</ion-label>
          <ion-radio slot="start" value="sell"></ion-radio>
        </ion-item>
    
      </ion-radio-group>
    </ion-list>
    </ion-card-content>
  </ion-card>
</div>

<div>
  <ion-card>
    <ion-card-header>
      
      <ion-card-title>Contact</ion-card-title>    
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Phone number</ion-label>
        <ion-input type="tel"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  
</div>

<div>
  <ion-card>
    <ion-card-header>
      
      <ion-card-title>Address Information</ion-card-title>    
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Address</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Number</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Neighborhood</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">complement</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">zip Code</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">State</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">City</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
</div>

<ion-card>
  <ion-card-content>
    <div class="flex-center">
      <ion-button fill="clear" color="dark">register</ion-button>
    </div>
  </ion-card-content>
</ion-card>











</ion-content>
