<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title>reciclica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list color="success">
  <ion-item color="success">
    <ion-avatar>
      <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
    </ion-avatar>
    <ion-label>
      <h1>Rana Hameed</h1>
      <p>Gathered : <span class="money">$15,00</span></p>
    </ion-label>
  </ion-item>
</ion-list>
<app-pickup-my-call></app-pickup-my-call>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
<ion-fab-button color="success">
  <ion-icon name="add"></ion-icon>
</ion-fab-button>
</ion-fab> 















</ion-content>
